<hr>
<footer class="page-footer font-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-black">Me encontre nas Redes Sociais</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center"><!--abre a lista de icones das redes-->

        <ul class="redes-sociais">
          <li>
            <a href="https://twitter.com/talucinada" target="_blank" class="iconeRedes"><!-- customizada no CSS-->
              <i class="fa fa-twitter" aria-hidden="true"></i> </a>
          </li>

          <li>
            <a href="https://www.linkedin.com/in/t4lu/" target="_blank" class="iconeRedes">
              <i class="fa fa-linkedin" aria-hidden="true"></i> </a>
          </li>

          <li>
            <a href="https://github.com/t4lu" target="_blank" class="iconeRedes">
              <i class="fa fa-github" aria-hidden="true"></i> </a>
          </li>
        </ul>
      </div> <!--fecha col md-->
    </div> <!--fecha row-->
  </div> <!--fecha container -->

<div class="footer-copyright text-center">

    <p>"<b><i>Drink water and mind ya business</i></b>" | Desenvolvido por <a
        style="color: #734338; font-weight: bold;" href="https://github.com/t4lu" target="_blank">talu</a>
      &copy;
    </p>
</div>

</footer> <!-- fecha footer -->