<hr>
<footer class="page-footer font-small">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Segue nois aí fml</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <ul class="redes-sociais">
          <li>
            <a href="" targe="_blank" class="iconeRedes">
              <!--inserir icone aqui--> facebook </a>
          </li>


          <li>
            <a href="" targe="_blank" class="iconeRedes">
              <!--inserir icone aqui--> twitter </a>
          </li>

          <li>
            <a href="" targe="_blank" class="iconeRedes">
              <!--inserir icone aqui--> insta </a>
          </li>

          <li>
            <a href="" targe="_blank" class="iconeRedes">
              <!--inserir icone aqui--> git </a>
          </li>
        </ul>
      </div> <!--fecha col md-->
    </div> <!--fecha row-->
  </div> <!--fecha container -->

<div class="footer-copyright bg-danger text-center">

    <p>"<b><i>Drink water and mind ya business</i></b>" | Desenvolvido por <a
        style="color: #734338; font-weight: bold;" href="http://twitter.com/talucinada" target="_blank">talu</a>
      &copy;
    </p>
</div>


</footer> <!-- fecha footer -->
