<nav class="navbar navbar-expand-lg navbar-dark bg-dark"><!--abre menu -->
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item active">
          <img
            src="https://scontent.fcgh14-1.fna.fbcdn.net/v/t1.6435-9/156327123_109678561179010_8567818932007228808_n.jpg?_nc_cat=102&ccb=1-3&_nc_sid=973b4a&_nc_ohc=GhupqrdIin8AX80b_kc&_nc_ht=scontent.fcgh14-1.fna&oh=aa30b99f0766c2d6dd3219f4a70a5ecb&oe=6125889B"
            alt="imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item">
          <p class="navbar-text">Usuário</p><!--customizada no CSS-->
        </li>
        <li class="nav-item">
          <a href="">
          <p> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
        </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
          <a class="navbar-text">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a><!--link customizado no CSS-->
        </li>
      </ul>

    </div>
  </div>
</nav><!-- fecha menu -->
