.navbar-text{
    font-size: 16pt;
    font-weight: bold;
    padding-left: 10px;
}

a {
    cursor: pointer;
}
.nav-item {
    text-decoration-color: white;
    font-size: 16px;
    padding-left: 3px;
}