<!--abre menu -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex align-items-center">
        <li class="nav-item active">
         <img src="{{foto}}" alt="imagem do usuario" width="60px" height="60px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item">
         <p class="navbar-text">{{nome}}</p>
        </li>
        <li class="nav-item">
          <a href="">
          <img src="https://img.icons8.com/ios/50/000000/edit-column.png"/>
        </a>
         </li>
      </ul>

        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <li class="nav-item">
           <a (click)='sair()' class="navbar-text">Sair</a>
          </li>
      </ul>

    </div>
  </div>
</nav>

<!-- fecha menu -->