#img-bg {
    background-image: url('../../assets/inicio.jpg');
    min-height: 635px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    text-align: center;
}
