<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="entrar.component.css">
</head>

<body>
  <section>
    <h1>Boas vindas!</h1>
    <img src="../../assets/phone.jpg"
      alt="Cantor Bruno Mars vestindo um casaco amarelo, óculos translúcidos e segurando um telefone antigo.">
  </section>

  <section>
    <h2>Entrar</h2>
    <form>
      <label for="usuario">Usuário</label>
      <input type="text" name="usuario" id="usuario" placeholder="Digite seu e-mail ou usuário">

      <label for="senha">Senha</label>
      <input type="password" name="senha" id="senha" placeholder="Digite sua senha">
    </form>

    <button type="submit">Entrar</button>
  </section>

  <section>
    <p>Tá fora do <i>squad</i>? Relaxa! <a routerLink='/cadastrar'>Cadastre-se.</a></p>
  </section>
</body>

</html>
