<div class="container-fluid">

    <div class="row">
        <div class="col-md-6"> <!--inicia col-md da tela (imagem e formulario) -->
            
<div class="row d-flex justify-content-center"> <!-- inicia posicionamento dos conteudos -->
    
    <div class="col-md-6"> <!-- inicia posicionamento dos textos de conteudos  -->
        <h1 class="center"><i>Bem-vindo!</i></h1>
        <h3 class="left">Entrar</h3>

        <div class="form-group"> <!--inicia formulario de usuario -->
            <label for="usuario">Usuário</label>
            <input [(ngModel)] = 'userLogin.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Entre com seu e-mail ou usuário">

        </div> <!--fecha formulario de usuario -->

        <div class="form-group"> <!--inicia formulario de senha -->
            <label for="senha">Senha</label>
            <input [(ngModel)] = 'userLogin.senha' class="form-control" type="password" name="senha" id="senha" placeholder="Entre com sua senha">
        </div> <!-- fecha formulario de senha -->

            <div class="d-flex justify-content-center"> <!-- inicia posiçao do buttom -->
                <button type="submit" class="btn btn-success" (click)= 'entrar()'>Entrar</button>
            </div> <!-- fecha posiçao do buttom -->

        <hr class="mt-5 mb-5">

        <p class="center">Tá fora do squad? Relaxa! <a routerLink='/cadastrar'>Cadastre-se.</a></p>



    </div> <!-- fecha posicionamento dos textos de conteudos -->

</div> <!-- fecha posicionamento dos conteudos -->


        </div><!-- fecha col-md da tela-->

        <div class="col-md-6" id="img-bg"> <!-- inicia col-md da imagem, estilizada no css-->
        </div><!-- fecha col-md da imagem-->



    </div> <!--fecha row-->
</div> <!--fecha container-->
