#img-bg {
    background-image: url('../../assets/phone.jpg');
    min-height: 635px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center{
    text-align: center;
}

.left {
    text-align: left;
}

.row {
    display: flex;
    align-items: center;
}
